

//font-size section
.fsize10{
    font-size: 1rem;
}

.fsize11{
    font-size: 1.1rem;
}

.fsize12{
    font-size: 1.2rem;
}

.fsize13{
    font-size: 1.3rem;
}

.fsize14{
    font-size: 1.4rem;
}

.fsize15{
    font-size: 1.5rem;
}

.fsize16{
    font-size: 1.6rem;
}

.fsize17{
    font-size: 1.7rem;
}

.fsize18{
    font-size: 1.8rem;
}

.fsize19{
    font-size: 1.9rem;
}

.fsize20{
    font-size: 2rem;
}

.fsize21{
    font-size: 2.1rem;
}

.fsize22{
    font-size: 2.2rem;
}

.fsize23{
    font-size: 2.3rem;
}

.fsize24{
    font-size: 2.4rem;
}

.fsize25{
    font-size: 2.5rem;
}

.fsize26{
    font-size: 2.6rem;
}

.fsize27{
    font-size: 2.7rem;
}

.fsize28{
    font-size: 2.8rem;
}

.fsize29{
    font-size: 2.9rem;
}

.fsize30{
    font-size: 3rem;
}



