// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body,html{
    background:rgb(220, 255, 255);
    color: rgb(88, 88, 88);
    //フォントはもう少し選択肢を増やしましょう
    font-family: 'Meiryo UI' ;
    font-size: 62.5%;//計算がしやすいので
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    user-select: none;//とりあえずページ全体に適用します ieではせんたくできたなあ
  }

#app{
  display: flex;
  width: 100vw;//画面いっぱいに
  height: 100vh;//画面いっぱいに
}  

#logo{
    float: left;
    width: 150px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    margin: 0px 15px;
    font-weight:bold;
    font-size:2.5rem;
    color: rgb(80, 210, 210);
  }

#settingwrapper{
  margin: 10px 0;
  height: 300px;
  border: dotted 1px rgb(122, 122, 122);
}

#font{
  position: absolute;
  bottom: 45px;
  left: 210px;
  width: 100px;
  height: 40px;
  padding: 0;
  background: white;
  border: 1px solid rgb(80,210,210);
}

#fontcolor{
  position: absolute;
  bottom:55px;
  left: 55px;
}
#backgroundcolor{
  position: absolute;
  bottom:55px;
  left: 355px;
}

#background{
  position: absolute;
  bottom: 45px;
  left: 510px;
  width: 100px;
  height: 40px;
  padding: 0;
  background:white;
  border: 1px solid rgb(80,210,210);
}

#fullscaleview{
  position: absolute;
  left: 50px;
  top:80px;
  height: 240px;
  width: 420px;
  border: dotted 1px rgb(122, 122, 122);
  overflow: hidden;
}

#examplestyles{
  position: absolute;
  left: 50px;
  top: 400px;
  height: 250px;
  width: 400px;
  border: dotted 1px rgb(122, 122, 122);
}

#settingwrapper p{
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 1.5rem;
  margin: 0;
  width: 140px;
  text-align: center;
}

#previewmodel{
  position: absolute;
  left: 40px;
  top: 20px;
}

#slidebarwidth{
  position: absolute;
  width: 340px;
  left: 25px;
  bottom: 10px;
}

#slidebar1,
#slidebar2,
#slidebar3,
#slidebar4,
#slidebar5{
  position: absolute;
  right: 25px;
  width: 290px;
  top: 12px;
}

#slidebar1scale,
#slidebar2scale,
#slidebar3scale,
#slidebar4scale,
#slidebar5scale{
  position: absolute;
  right: 5px;
  width: 310px;
  top: 25px;
}

.ui-slider-handle{
  top: -8px !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 25% !important;
  border: 2px solid rgb(80, 210, 210) !important;
}

.ui-state-active{
  background: rgb(80, 210, 210) !important;
}

#textcentering{
  position: absolute;
  right: 50px;
  top:80px;
  height: 60px;
  width: 480px;
  border: dotted 1px rgb(122, 122, 122);
}

#lineheightselecting{
  position: absolute;
  right: 50px;
  top:140px;
  height: 60px;
  width: 480px;
  border: dotted 1px rgb(122, 122, 122);
}

#fontsizing{
  position: absolute;
  top:200px;
  right: 50px;
  height: 60px;
  width: 480px;
  border: dotted 1px rgb(122, 122, 122);
}

#fontstyling{
  position: absolute;
  right: 50px;
  top:260px;
  height: 60px;
  width: 480px;
  border: dotted 1px rgb(122, 122, 122);
}

#textwrapping{
  position: absolute;
  right: 50px;
  top:320px;
  height: 60px;
  width: 480px;
  border: dotted 1px rgb(122, 122, 122);
}

#helptitle{
  text-align:center;
}

.helptext{
  margin: 20px;
  text-align: center;
}

#helpwindow{
  text-align:center;
  font-size: 2rem;
  color: red;
}

#logouttitle{
  text-align:center;
}

#questionsave{
  text-align: center;
  margin: 50px 5px;
}

#savetologout{
  display: inline-block;
  margin: 50px 140px;
  border: double 3px rgb(80,210,210);
  padding: 20px;
}

#savetologout:hover{
  background: rgb(210, 255, 255);
  cursor: pointer;
}

#dologout{
  display: inline-block;
  border: double 3px rgb(255, 167, 167);
  padding: 20px 30px;
}

#dologout:hover{
  background: rgb(255, 210, 210);
  cursor: pointer;
}

#leftside{
  width: 240px;
  min-width: 240px;
}

#leftsidenavi{
  width: 240px;
  height: 10%; 
  min-height: 100px;
}

#leftsidenavi-wrapper{
  width: 100%;
  height: 100%;
  user-select: none; 
  border-right: 0.5px solid rgb(200, 200, 200);
}
#leftsidenavi-wrapper a{
  position: relative;
  display: inline-block;
  width: 33%;
  height: 50%;
  text-align: center;
  cursor: pointer;
}

#leftsidenavi-wrapper img:last-child{
  position: absolute;
  top: -5px;
  left: 20px;
  opacity: 0;
  padding: 5px 0;
}

#aAllPlates.active{
  background: rgb(80, 210, 210);
  img:first-child{
    opacity: 0;
  }
  img:last-child{
    opacity: 1;
  }
}

#aAddPlates.active{
  background: rgb(80, 210, 210);
  img:first-child{
    opacity: 0;
  }    
  img:last-child{
    opacity: 1;
  }
}

#aEditTags.active{
  background: rgb(80, 210, 210);
  img:first-child{
    opacity: 0;
  }
  img:last-child{
    opacity: 1;
  }
}

#aEditGroup.active{
  background: rgb(80, 210, 210);
  img:first-child{
    opacity: 0;
  }
  img:last-child{
    opacity: 1;
  }
}

#aText.active{
  background: rgb(80, 210, 210);
  img:first-child{
    opacity: 0;
  }
  img:last-child{
    opacity: 1;
  }
}

#aShape.active{
  background: rgb(80, 210, 210);
  img:first-child{
    opacity: 0;
  }
  img:last-child{
    opacity: 1;
  }
}

.ui-tooltiptab {
  width: 61.2px;
  height: 5px;
  line-height: 5px;
  white-space: nowrap;
  font-size: 1.1rem !important;
  background: rgb(80, 210, 210) !important;
  color: white !important;
  text-align: center;
  box-shadow: none !important;
  border-radius: 0 !important;
}

#toolbar{
  width: 240px;
  height: 90%;
  border-top: 0.5px solid rgb(200, 200, 200);
  border-right: 0.5px solid rgb(200, 200, 200);
}

.tabcontents{
  position: relative;
  height: 100%;
  width: 240px;
  display: none;
}

.subject{
  padding: 10px;
  text-align: center; 
}

#content-wrapper{
  position: absolute;
  bottom: 5px;
  width: 98%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content-detail{
  position: relative;
  cursor: move;
}
.content-detail div{
  margin: 1.5px auto;
  width: 95%;
  height: 200px;
  border-bottom: 1px solid rgb(80, 210, 210);
  user-select: none;
  word-wrap: break-word;
  overflow: hidden;
  backface-visibility: hidden;
  background: white;
}
#toolbar .content-detail:hover{  
  background: rgb(220, 255, 255);
  white-space: normal;
}

.content-detail .back{
  position: absolute;
  transform: rotateY(180deg);
}

.updateddate,
.groupname{
  font-size:1.3rem;
  position: absolute;
  bottom: 20px;
  white-space: nowrap;
}
.updateddate:before{
  content: '\1F58C';
  padding: 0 5px;
  color: rgb(80,210,210);
}


.groupname{
  bottom: 2px;
}
.groupname:before{
  content: '\259A';
  padding: 0 10px 0 5px ;
  color: rgb(80,210,210);
  font-size: 1.1rem;
}

#edittop{
  position: relative;
  top:30px;
  height: 50%;
  width: 100%;
  min-height: 240px;
}
#editbottom{
  position: relative;
  width: 100%;
  height: 40%;
  min-height: 95px;
}

#toolbar p{
  margin: 2px 10px;
  font-size: 1.5rem;
}

input{
  margin: 2px 8px;
  width: 92%;
  font-size: 1.5rem;
  transition: 0.2s;
}

#plate_text{
  resize: none;
  width:96%;
  height:150px;
  border: solid 1px rgb(80, 210, 210);
}

.select2-selection{
  font-size: 1.5rem;
}
.select2-results__option { 
  font-size: 1.5rem;
}


.submit{
  width:95%;
  margin: 30px 5px;
  height: 30px;
  border: 1px dotted rgb(80, 210, 210);
  border-radius: 10px;
  background:rgb(241, 249, 255);
  color: rgb(88, 88, 88);
}

.submit:hover{
  background: rgb(80, 210, 210);
  cursor: pointer;
}

#Text div{
  margin: 15px 5px;
  text-align: center;
  cursor: move;
}

#images{
  overflow: auto;
}

.imageshape{
  display: inline-block;
  cursor: move;
}

#main{
flex: 1;
min-width: 1000px;
border-left: 0.5px solid rgb(200, 200, 200);
}

#mainlogo-wrapper{
  position: relative;
  height: 5%;
  min-height: 50px;
  width: 100%;
  background: rgb(220, 255, 255);
  border-right: 0.5px solid rgb(200, 200, 200);
  border-bottom: 0.5px solid rgb(200, 200, 200);
}

#operation{
  position: relative;
  width: 100%;
  height: 5%;
  min-height: 50px;
  background: rgb(220, 255, 255);
  border-right: 0.5px solid rgb(200, 200, 200);
  border-bottom: 0.5px solid rgb(200, 200, 200);
}

#operation-icons{
  width: 500px;
  height: 100%;
  margin: 0 auto;
}
#operation-icons div{
  width: 80px;
  height: 100%;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
}

#operation-icons div:hover{
  background: rgb(80, 210, 210);
  color: white;
}

#operation-icons img{
  margin-bottom: 6px;
}

#operation-icons p{
  width: 80px;
  height: 20px;
  position: absolute;
  top:30px;
  margin: 0;
  line-height: 20px;
}

#alignmenu{
  position: absolute;
  z-index: 2002;
  width: 120px;
  height: 180px;
  background: rgba(80, 210, 210,0.7);
  border: 1px solid rgb(80,210,210);
}
#alignmenu ul{
  padding: 0;
}

#alignmenu li{
  list-style: none;
  text-align: center;
  padding: 5px;
}

#alignmenu li:hover{
  background: #ffffff;
}

#alignleft{
  position: absolute;
  top: 12px;
}
#aligntop{
  position: absolute;
  top: 50px;
}
#alignright{
  position: absolute;
  top: 84px;
}
#alignbottom{
  position: absolute;
  top: 118px;
}

#thecanvas{
  height: 90%;
  width: 100%;
  overflow: scroll;
}

.canvas-container{
  width: 100% !important;
  height: 100% !important;
}

#rightnavi{
  height: 100%;
  width: 240px;
}

#rightsidenavi{
  width: 240px;
  height: 10%; 
  min-height: 100px;
}

#rightsidenavi-wrapper{
  width: 100%;
  height: 100%;
  user-select: none;
  border-right: 0.5px solid rgb(200, 200, 200);    
}
#rightsidenavi-wrapper div{
  transition: 0.5s;
  display: inline-block;
  width: 33%;
  height: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  border-right: 0.5px solid rgb(200, 200, 200);
  border-bottom: 0.5px solid rgb(200, 200, 200);
}

#rightsidenavi-wrapper p{
  position: absolute;
  top: 0;
  height: 20px;
  width: 80px;
  font-size: 1.6rem;
  margin: 0;
  color: white;
  visibility: hidden;
}

#import,
#export,
#pdfexport{
  p{
    top: 75px; 
  }
}

#rightsidenavi-wrapper div:hover{
  background: rgb(80,210,210);
  img{
    visibility: hidden;
  }
  p{
    visibility: visible;
  }
}

#platesinformation p{
  margin: 0;
}

#texttitle:before{
  position: absolute;
  top: -6px;
  left: -28px;
  content: '\270F';
  font-size: 2.5rem;
  color: rgb(80,210,210);
}

#grouptitle:before{
  content: '\259A';
  position: absolute;
  top: -4px;
  left: -25px;
  font-size: 2rem;
  color: rgb(80,210,210);
}

#updatedtitle:before{
  content: '\1F58C';
  position: absolute;
  top: -6px;
  left: -28px;
  font-size: 2.5rem;
  color: rgb(80,210,210);
}
#createdtitle:before{
  content: '\1F570';
  position: absolute;
  top: -8px;
  left: -28px;
  font-size: 2.5rem;
  color: rgb(80,210,210);
}

#platesinformation{
  margin-top:0.5px; 
  position: relative;
  height: 50%;
  width: 100%;
  border-left: solid 0.5px rgb(200, 200, 200);
  background: rgb(255, 255, 255);
  p{
    padding: 2px 4px;
    margin-left: 1px !important;
    background: #ffffff;
    border-top: 1px solid rgb(200, 200, 200);
  }
}

#texttitle,
#grouptitle,
#updatedtitle,
#createdtitle {
  margin-left: 1.5px !important;
  position: relative;
  background: rgb(220, 255, 255) !important;
  border-left: solid 30px rgb(220, 255, 255);
}

#text{
  word-wrap: break-word;
}

#tabnavi{
  position: relative;
  height: 50%;
  width: 100%;
  border-top: solid 0.5px rgb(200, 200, 200);
  border-left: solid 0.5px rgb(200, 200, 200);
  background: rgb(255, 255, 255);
}

.ui-effects-transfer {
  background: rgba(80, 210, 210,0.5);
  border: 1px dotted black;
}